Template10Test/Service References/Twitch10ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twitch10WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twitch10WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBuildContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildContract" nillable="true" type="tns:BuildContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildContract" nillable="true" type="tns:ArrayOfBuildContract" />
  <xs:complexType name="BuildContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildId" type="xs:int" />
      <xs:element minOccurs="0" name="ChampionId" type="xs:int" />
      <xs:element minOccurs="0" name="Item1Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item2Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item3Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item4Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item5Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item6Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:long" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spell1Id" type="xs:int" />
      <xs:element minOccurs="0" name="Spell2Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildContract" nillable="true" type="tns:BuildContract" />
</xs:schema>